@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme {
  --color-primary: #ffffff;
  --color-secondary: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-aclonica);
}

p {
  font-family: var(--font-aclonica);
  font-size: 1rem;
  color: rgba(128, 128, 128, 0.842);
}

.test {
  font-family: var(--font-mono);
}

.game {
  font-family: var(--font-game);
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 inline w-30 rounded-2xl bg-slate-400 text-white;
  }
}
